@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50{
    width: 50%;
}

.w33{
    width: 33.3%;
}

.clear{
    clear:both;
}

.left{
    float: left;
}

.right{
    float: right;
}

header{
    background-color: #3D437A;
    padding: 2% 0;

}
header .logo{
    
    color: #fff;
}

.menuMobileIcon{
    display: none;
    cursor: pointer;
    
}

.menuMobileIcon img{
    width: 35px;
}

.menuDesktop ul{
    list-style: none;   
}

.hidden{
    display: none;
}

.active{
    display: block;
}

.menuDesktop li{
    display: inline-block;
    font-size: 15px;
    padding: 0 15px;
}

.menuDesktop a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section.bannerPrincipal{
    background-image: url('../images/banner_bg.png');
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bannerPrincipal form{
    text-align: center;
}

.bannerPrincipal h2{
    padding-top: 20vh;
    color: #fff;
    font-size: 32px;
}

.bannerPrincipal input{
    width: 75vh;
    max-width: 500px;
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    display: block;

}

.bannerPrincipal .btn{
    cursor: pointer;
    font-size: 24px;
    background-color: #88e067;
    border: none;
    
}

@media screen and (max-width: 768px) {
    .menuDesktop{
        display: none;
    }

    .menuMobileIcon{
        display: block;
    }

    .hidden{
        display: none;
    }
    
    .active{
        display: block;
    }

    .menuMobile li{
        font-size: 18px;
        padding: 0 15px;
        text-align: center;
    }
    
    .menuMobile a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}