/* CONFIGURAÇOES GERAIS */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    
}
/* SCRIPT */
.hidden{
    display: none;
}

/* HEADER */
header .menuMobileIcon{
    display: none;
}

header{
    background-color: rgba(14, 110, 158, 0.9);
    padding: 1% 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .headerFlex{
    display: flex;
    
}

header .logo{
    color: #fff;
    flex: 70%;
}

header .logo{
    font-size: 20px;
}
header .menuDesktop{
    flex: 30%;
    text-align: right;
}

header ul{
    list-style: none;
    display: flex;
}

header .menuDesktop li{
    padding-left: 2%;
    font-size: 14px;
}

header a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

header a:hover{
    color: #ffffff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff; 
}

/* Banner Principal */
.bannerPrincipal{
    background-image: url('../images/banner_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.bannerPrincipal h2{
    text-align: center;
    padding-top: 40vh;
    color: #fff;
    font-size: 1.8rem;
}

.bannerPrincipal input{
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    width: 500px;
    max-width: 80%;
    height: 50px;
    text-align: center;
    font-size: 1.4rem;
}

.bannerPrincipal a{
    text-decoration: none;
    background-color: #67f22c;
    cursor: pointer;
}

.bannerPrincipal .input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.bannerPrincipal .bottonBestEmail{
    background-color: #67f22c;
    font-size: 1.4rem;
    border: 0;
    cursor: pointer;
}

/* AUTOR */
.autor{
    background-color: #ddd;
}
.autor .autorFlex{
    display: flex;
}

.autor .boxTextAutor{
    flex: 2;
}

.autor .boxTextAutor h3{
   padding-top: 5%;
}

.autor p{
    margin-top: 2%;
}
.autor .imgAutor{
    flex: 1;
}

.imgAutor img{
    width: 300px;
    max-width: 100%;
    padding: 5%;
    border-radius: 50%;
}

/* HABILIDADES */
.habilidades .habilidadesFlex{
    display: flex;
}

.habilidades{
    background-color: #bbb;
} 

.habilidades .boxHabilidades{
    padding: 2%;
}

.habilidades h3{
    text-align: center;
}
.habilidades .img{
    text-align: center;
}
.habilidades p{
    text-align: justify;
}

/* faleConosoco */
.faleConosco{
    background-image: url('../images/formBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.faleConosco .faleConoscoFlex{
    padding-top: 3%;
    padding-bottom: 3%;
}

.faleConosco input{
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    width: 500px;
    max-width: 80%;
    height: 40px;
    text-align: center;
    font-size: 1.0rem;
    border: 0;
    color: #000;
}

.faleConosco .botton{
    background-color: #67f22c;
    font-size: 1.0rem;
    border: 0;
    cursor: pointer;
}

/* FOOTER */
footer{
    background-color: rgba(14, 110, 158);
}

footer p{
    text-align: center;
    color: #fff;
    padding: 2%;
}


@media screen and (max-width: 768px) {
    .container{
        max-width: 600px;
        width: 100%;
        padding: 0 30px;
    }

    /*HEADER*/
    header{
        padding: 3%;
    }

    header .menuMobileIcon{
        display: block;
        cursor: pointer;
    }


    header .menuDesktop{
        display: none;
    }

    .active{
        display: block;
    }
    .hidden{
        display: none;
    }
    .menuMobile ul{
        display: block;
        text-align: center;
    }

    .menuMobile li{
        padding-bottom: 1%;
    }

    /*AUTOR */
    .autor .autorFlex{
        display: block;
        text-align: center;
    }

    /* HABILIDADES */
    .habilidades .habilidadesFlex{
        display: block;
    }

}


@media screen and (min-width: 768px){
    header .menuMobile{
        display: none;
    }
}