*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{ 
    background-color: #151719;
    width: 100%;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%; 
    text-align: center;
}

.container2{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header{
    display: flex;
    padding-top: 4%;
}

.header-left{
    flex: 1;
    text-align: left;
}

.header-right{
    flex: 1;
    text-align: right;
}

.header-right .singin{
    color: #5D5DFF;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px; 
    transition: 1s;
}

.singin:hover{
    color: #FFF;
    transition: 1s;
}
.header-right .singup{
    background-color: #5D5DFF;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    padding: 2% 5%;
    transition: 1s;
}

.singup:hover{
    background-color: #FFF;
    color: #5D5DFF;
    transition: 1s;
}

.form{
    margin-top: 2%;
}

.form h2{
    color: #FFF;
    font-size: 32px;
    max-width: 500px;
    margin: 0 auto;

}

.form a{
    display: block;
    text-decoration: none;
    background-color: #E53D3E;
    color: #FFF;
    width: 250px;
    padding: 2%;
    text-align: center;
    margin: 3% auto;
}

.form img{
    text-align: left;
}

.form p{
    display: inline;
    text-align: right;
}

.form p{
    color: #FFF;
}

.form hr{
    width: 200px;
    color: #5D5DFF;
}