body{
    height: 100vh;
    background-image: url('4k-batman-wallpaper-ai-generated.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.video-area{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    max-width: 1000px;
}

iframe{
    position: relative;
    padding: 0 0 0 56.25%;
}

video{
    margin: 0 auto;
}