ul{
    list-style-type: disc;
}

table{
    width: 600px;
    border: 1px solid black;
    margin: 20px;
}

td,
th{
    border: 1px solid black;
}

tr:hover{
    background-color: bisque;
    transition: 2s;
}