*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.container2{
    max-width: 85%;
    margin: 0 auto;
}

body{
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}

form,
label,
a,
input{
    display: block;
}

form{
    width: 500px;
    background-color: #f2f2f2;
    padding: 3%;
    margin: 50px auto;
    border-radius: 8px;
}

input{
    width: 100%;
    padding: 2%;
    border: 0;
    border-bottom: 1px solid;
}

.user1{
    background-image: url("images/user.png");
    background-size: 80% 0;
}